@use '@/styles/variables.scss' as *;

.pageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.productSection {
  flex: 0 0 68%;
  width: 68%;
}

.cartSection {
  flex: 0 0 30%;
  width: 30%;
  // position: sticky;
  top: 60px;
  height: fit-content;
}

// Responsive Design
@media (max-width: $breakpoint-desktop) {
  .pageContainer {
    flex-direction: column;
    gap: 20px;
  }

  .productSection {
    flex: 1;
    width: 100%;
  }

  .cartSection {
    flex: 1;
    width: 100%;
    position: static;
    order: -1;
  }
}

@media (max-width: $breakpoint-tablet) {
  .pageContainer {
    padding: 16px;
    gap: 16px;
  }
}
